
  <div [ngClass]="classCss" role="alert" *ngIf="message">
    <strong>{{ message.text }}</strong>
  </div>
  <div class="row">
  <div class="col-md-8">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Credores</h3>
    </div>
    <div class="box-body">
      <table class="table table-bordered">
        <tr>
          <th>CNPJ/CPF</th>
          <th>Nome</th>
          <th style="width: 10px">&nbsp;</th>
          <th style="width: 10px">&nbsp;</th>
        </tr>
        <tr *ngFor="let credor of listCredor">
          <td>{{credor !== 'undefined' ? credor.cnpjCpf: ''}}</td>
          <td>{{credor !== 'undefined' ? credor.nomeCredor: ''}}</td>
          <td><button [routerLink]="['/editar', credor.id, 'credor-edit']" class="btn btn-primary">Editar</button></td>
          <td><button class="btn btn-danger" (click)="openDialog(credor.id)">Excluir</button></td>
        </tr>
      </table>
    </div>
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="" (click)="setPreviousPage($event)">&laquo;</a></li>
        <li *ngFor="let p of pages; let i=index">
            <a [ngClass]="{'pagination-focus':i==page}"  href="" (click)="setPage(i,$event)">{{i+1}}</a>
        </li>
        <li><a href="" (click)="setNextPage($event)">&raquo;</a></li>
      </ul>
    </div>
  </div>
  </div>
  </div>